@mixin paragraph-secondary {
	color: $brand-text;
	font-size: 2rem;
	font-family: 'EB Garamond', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
}
