@mixin paragraph-secondary {
	color: $brand-text;
	font-size: 2vw;
	font-family: 'EB Garamond', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	max-width: 50vw;
	text-align: center;
}
@mixin paragraph-secondary-med {
	color: $brand-text;
	font-size: 10vw;
	font-family: 'EB Garamond', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	max-width: 60vw;
	text-align: center;
}
@mixin paragraph-secondary-small {
	color: $brand-text;
	font-size: 10vw;
	font-family: 'EB Garamond', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	max-width: 80vw;
	text-align: center;
}
