@import '../../../sass/variables';

.header {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #557a95;
	position: relative;
	overflow: hidden;
	& .header__grid {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-items: center;
		align-content: center;
		gap: 2rem;
		flex: 4;
	}
	.text__box__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		& h1 {
			font-family: 'Cormorant Garamond', sans-serif;
			color: $brand-text;
			opacity: 0;
			animation: fadeinheading 1s linear forwards;
			font-size: 5vw;
			margin: 1rem 0;
			&::after {
				content: '';
				display: block;
				width: 12rem;
				height: 0.2rem;
				background: $brand-accent;
			}
		}
		& h2 {
			color: darken($brand-text, 5%);
			opacity: 0;
			animation: fadeinheading 2s linear forwards;
			font-size: 2.5vw;
			font-weight: 300;
			font-family: 'EB Garamond', sans-serif;
			margin: 1rem 0;
		}

		& h3 {
			color: darken($brand-text, 15%);
			opacity: 0;
			animation: fadeinheading 2s linear forwards;
			font-size: 2.5vw;
			font-weight: 300;
			font-family: 'Tangerine', sans-serif;
			margin: 1rem 0;
		}
	}
	& .divider {
		opacity: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 5vw;
		color: $brand-brown;
		animation: fadeinheading 1.5s linear forwards;
		& svg {
			font-size: 3rem;
			margin: 0.5rem;
		}
		& span {
			height: 12vh;
			width: 0.2rem;
			background: $brand-accent;
		}
	}
	& .text__box__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: darken($brand-blue, 5%);
		position: relative;
		border-bottom-left-radius: 200px;
		width: 40vw;
		& .teacher__svg {
			position: absolute;
			width: 80%;
			z-index: 1;
		}
		& .header__wav {
			position: absolute;
			bottom: 100%;
			z-index: 0;
			width: 100%;
		}
		& .button__container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			z-index: 1;
			position: absolute;
			bottom: 0;
			& button {
				width: 15vw;
				height: 3rem;
				font-weight: 300;
				transition: all 0.3s ease-in-out;
				font-family: 'EB Garamond', sans-serif, serif;
				font-size: 1.2rem;
			}
			& button:nth-child(1) {
				background: $brand-brown;
				margin: 1rem;
				color: $brand-text;
				border: 3px solid $brand-brown;
				&:hover {
					cursor: pointer;
					background: darken($brand-brown, 5%);
					border: 3px solid darken($brand-brown, 5%);
					color: $brand-text;
					box-shadow: 0 1px 10px darken($brand-brown, 10%);
				}
			}
			& button:nth-child(2) {
				background: $brand-accent;
				margin: 1rem;
				color: $brand-text;
				border: 3px solid $brand-accent;
				&:hover {
					cursor: pointer;
					background: darken($brand-accent, 5%);
					border: 3px solid darken($brand-accent, 5%);
					box-shadow: 0 1px 10px darken($brand-accent, 10%);
				}
			}
		}
	}
}
.services__grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0%;
	left: 0;
	width: 100%;
	max-height: 10rem;
	z-index: 100;
	& .item {
		color: $brand-text;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 6rem;
		opacity: 0.8;
		max-height: 25rem;

		& h3 {
			font-family: 'EB Garamond', serif, sans-serif;
			font-size: 1.3rem;
			letter-spacing: 0.9px;
			margin: 0 1rem;
		}
		& .video__svg,
		.virtual__svg,
		.inperson__svg {
			font-size: 2.5rem;
			width: 3rem;
		}
		&:hover {
			flex-direction: column;
			height: 18rem;
			max-height: 25rem;
			cursor: pointer;
			background: lighter($brand-brown, 5%);
		}
		&:hover .video__svg,
		&:hover .virtual__svg,
		&:hover .inperson__svg {
			width: 5rem;
		}
		&:hover li svg {
			font-size: 1.4rem;
		}

		& ul {
			font-size: 0rem;
			opacity: 0;
			animation: fadein 0.5s linear forwards;
			& li {
				list-style: none;
				display: flex;
				flex-direction: row;
				align-items: center;
				& p {
					margin: 0 0.5rem;
					font-size: 1.3rem;
					opacity: 0;
				}
			}
		}
		&:hover ul {
			opacity: 1;
		}
		&:hover ul li p {
			opacity: 1;
			font-size: 1.4rem;
		}
		&:hover h3 {
			font-size: 2rem;
		}

		&:nth-child(1) {
			background: $brand-brown;
			transition: all 0.4s ease-in-out;
			align-self: flex-end;
			opacity: 0;
			animation: fadeinheading 1s linear forwards;
		}
		&:nth-child(2) {
			background: $brand-dark-blue;
			transition: all 0.4s ease-in-out;
			align-self: flex-end;
			opacity: 0;
			animation: fadeinheading 1s linear 0.5s forwards;
		}
		&:nth-child(3) {
			background: $brand-accent;
			transition: all 0.4s ease-in-out;
			align-self: flex-end;
			opacity: 0;
			animation: fadeinheading 1s linear 1s forwards;
		}
	}
}
@media screen and (max-width: 1400px) {
	.header {
		& .text__box__left {
			& h1 {
				font-size: 4rem;
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.header {
		justify-content: space-between;
		overflow: visible;
		& .header__grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, auto);
			justify-items: center;
			align-content: flex-start;
			gap: 0.5rem;
			margin: 0;
			margin-top: 5rem;
		}
		& .text__box__left {
			z-index: 3;
			& h1 {
				font-size: 10vw;
				&::after {
					display: none;
				}
			}
			& h2 {
				font-size: 6vw;
			}
			& h3 {
				color: $brand-brown;
				font-size: 8vw;
				font-weight: 700;
				&::after {
					content: '';
					display: block;
					background: $brand-accent;
					width: 7rem;
					height: 0.2vh;
				}
			}
		}
		& .divider {
			display: none;
		}
		& .text__box__right {
			width: 80vw;
			height: 15vh;
			& .button__container {
				display: none;
			}
		}
	}
	.services__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-height: 100vh;
		position: relative;
		& .item {
			color: $brand-text;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			opacity: 0.8;
			transition: all 0.3s ease-in-out;
			align-self: flex-end;
			height: 4rem;
			max-height: 35vh;
			&:hover {
				flex-direction: column;
			}
			& h3 {
				font-family: 'EB Garamond', serif, sans-serif;
				font-size: 1.2rem;
				letter-spacing: 0.9px;
			}
			& svg {
				font-size: 2rem;
				margin: 0 0.5rem;
			}
			& .video__svg,
			.virtual__svg,
			.inperson__svg {
				width: 3rem;
			}
			&:hover .video__svg,
			&:hover .virtual__svg,
			&:hover .inperson__svg {
				width: 3rem;
			}
			&:hover ul li svg {
				font-size: 2rem;
			}
			&:hover h3 {
				font-size: 1.5rem;
			}
			&:hover ul li p {
				font-size: 1.2rem;
			}
			& ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0;
			}
			&:hover h3,
			&:hover svg,
			&:hover ul {
				margin: 0 0 0.5rem 0;
			}
			& ul li p {
				font-size: 1vw;
			}
		}
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
		font-size: 0;
	}
	100% {
		opacity: 1;
		font-size: 100%;
	}
}

@keyframes fadeinheading {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}
