@import '../../../../sass/variables';

.index__box {
	position: fixed;
	top: 45%;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 15vh;
	width: 3vw;
	background: transparent;
	transition: all 0.4s ease-in-out;
	& .index__marker {
		svg {
			width: .5rem;
			overflow: visible;
			transition: all 0.4s ease-in-out;
			stroke: lighten($brand-accent, 10%);
			fill: lighten($brand-accent, 10%);
			& circle {
				width: 1rem;
				transition: all 1s ease-in-out;
			}
		}
	}
	& .current {
		svg {
			width: .7rem;
			overflow: visible;
			stroke-dasharray: 50;
			stroke-dashoffset: 100;
			transition: all 0.4s ease-in-out;
			stroke: lighten($brand-accent, 10%);
			fill: lighten($brand-accent, 10%);
			fill-opacity: 1;
			cursor: pointer;
			stroke-dasharray: 0;
			stroke-dashoffset: 0;
			& circle {
				fill-opacity: 1;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.index__box {
		position: fixed;
		top: 44%;
		left: 0%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		min-height: 15vh;
		width: 8vw;
		background: transparent;
		transition: all 0.4s ease-in-out;
		& .index__marker {
			svg {
				width: .5rem;
				overflow: visible;
				transition: all 0.4s ease-in-out;
				stroke: lighten($brand-accent, 10%);
				fill: lighten($brand-accent, 10%);
				& circle {
					width: 1rem;
					transition: all 1s ease-in-out;
				}
			}
		}
		& .current {
			svg {
				width: .7rem;
				overflow: visible;
				stroke-dasharray: 50;
				stroke-dashoffset: 100;
				transition: all 0.4s ease-in-out;
				stroke: lighten($brand-accent, 10%);
				fill: lighten($brand-accent, 10%);
				fill-opacity: 1;
				cursor: pointer;
				stroke-dasharray: 0;
				stroke-dashoffset: 0;
				& circle {
					fill-opacity: 1;
				}
			}
		}
	}
}
