@import '../../../../sass/variables';
.services__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	scroll-snap-type: mandatory;
	scroll-snap-type: y mandatory;
	scroll-snap-align: start;
	overflow: hidden;
	max-height: 100vh;
	scroll-behavior: smooth;
	box-shadow: 0 0px 5px darken($brand-blue, 15%);
	transition: all 0.3s ease-in-out;
	&::-webkit-scrollbar {
		width: 0;
		visibility: hidden;
		height: 0;
	}
	& .close__button {
		position: fixed;
		top: 4rem;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: 5rem;
		min-width: 5rem;
		background: $brand-blue;
		z-index: 999999999;
		opacity: 1;
		visibility: visible;
		transition: all 0.4s ease-in-out;
		& svg {
			padding: 1rem;
			color: $brand-text;
			font-size: 3rem;
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			cursor: pointer;
		}
		&:hover svg {
			color: $brand-brown;
		}
		&::after {
			content: '';
			transition: all 0.4s ease-in-out;
			opacity: 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			background: darken($color: $brand-blue, $amount: 10%);
		}
		&:hover::after {
			content: 'Back out of slide show?';
			color: $brand-text;
			font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
			opacity: 1;
			padding: 0 1rem;
			font-size: 1.2rem;
			min-width: 5rem;
			height: 5rem;
		}
	}
	& .close__button__hidden {
		position: fixed;
		top: 0;
		left: 0;
		max-height: 0rem;
		width: 0rem;
		background: $brand-blue;
		z-index: -999999999;
		visibility: hidden;
		opacity: 0;
		transition: all 0.4s ease-in-out;
		& svg {
			color: $brand-text;
			font-size: 0rem;
		}
	}
	& .service__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		color: $brand-text;
		justify-items: center;
		position: relative;
		z-index: 2;
		min-height: 100vh;
		& .arrow__up {
			position: absolute;
			top: 0;
			left: 50%;
			z-index: 5;
			font-size: 7rem;
			color: $brand-text;
			opacity: 0.8;
			margin: 2rem 1rem;
			transition: all 0.4s ease-in-out;
			animation: scaleupanddown 1s linear infinite;
			&:hover {
				transform: scale(1.1);
				opacity: 1;
				cursor: pointer;
			}
		}
		& .arrow__down {
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 5;
			font-size: 7rem;
			color: $brand-text;
			opacity: 0.8;
			margin: 1rem;
			transition: all 0.4s ease-in-out;
			animation: scaleupanddown 1s linear infinite;
			&:hover {
				transform: scale(1.1);
				opacity: 1;
				cursor: pointer;
			}
		}
		& .img__overlay {
			height: 100%;
			width: 100%;
			z-index: 0;
		}
		& .service__heading {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 1;
			& h3 {
				font-family: 'EB Garamond', sans-serif, serif;
				font-weight: 300;
				font-size: 5rem;
			}
			& svg {
				font-size: 10rem;
			}
		}
		& .service__list {
			display: flex;
			flex-direction: column;
			justify-content: center;
			z-index: 2;
			& p {
				word-break: break-word;
				font-size: 3rem;
			}
		}

		&:nth-child(2) {
			scroll-snap-align: start;
			position: relative;
			z-index: 0;
			& .img__overlay {
				position: absolute;
				background: rgba(177, 162, 150, 0.55);
			}
			& .service__heading {
				background: lighten($brand-brown, 5%);
				box-shadow: 0 2px 2px darken($brand-brown, 5%);
				width: 120%;
				clip-path: polygon(0% -50%, 80% 0%, 100% 100%, 0% 100%);
				& h3 {
					padding: 0.3rem;
					transition: all 0.5s ease-in-out;
					background-image: linear-gradient(
						180deg,
						transparent 30%,
						transparent 30%,
						rgba(115, 149, 174, 0.7) 30%
					);
					background-size: 100% 200%;
					background-position: 0 0;

					&:hover {
						cursor: pointer;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(115, 149, 174, 0.7) 30%
						);
						background-position: 100% 100%;
					}
				}
			}
			& .service__list {
				& p {
					align-self: flex-end;
					z-index: 2;
				}
			}
		}
		&:nth-child(3) {
			scroll-snap-align: start;
			position: relative;
			z-index: 0;

			& .img__overlay {
				position: absolute;
				background: rgba(66, 95, 117, 0.55);
			}
			& .service__list {
				order: 0;
			}
			& .service__heading {
				order: 1;
				background: $brand-blue;
				box-shadow: 0 2px 2px darken($brand-blue, 5%);
				width: 120%;
				clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 20% 0%);
				& h3 {
					padding: 0.3rem;
					transition: all 0.5s ease-in-out;
					background-image: linear-gradient(
						180deg,
						transparent 30%,
						transparent 30%,
						rgba(177, 162, 150, 0.7) 30%
					);
					background-size: 100% 200%;
					background-position: 0 0;

					&:hover {
						cursor: pointer;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(177, 162, 150, 0.7) 30%
						);
						background-position: 100% 100%;
					}
				}
			}
		}
		&:nth-child(4) {
			scroll-snap-align: start;
			position: relative;
			z-index: 0;

			& .img__overlay {
				position: absolute;
				background: rgba(115, 149, 174, 0.55);
			}
			& .service__heading {
				background: lighten($brand-accent, 5%);
				box-shadow: 0 2px 2px darken($brand-accent, 5%);
				width: 120%;
				clip-path: polygon(0% -50%, 80% 0%, 100% 100%, 0% 100%);
				& h3 {
					padding: 0.3rem;
					transition: all 0.5s ease-in-out;
					background-image: linear-gradient(
						180deg,
						transparent 30%,
						transparent 30%,
						rgba(66, 95, 117, 0.7) 30%
					);
					background-size: 100% 200%;
					background-position: 0 0;

					&:hover {
						cursor: pointer;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(66, 95, 117, 0.7) 30%
						);
						background-position: 100% 100%;
					}
				}
			}
			& .service__list {
				& p {
					align-self: flex-end;
				}
			}
		}
	}
}

@media screen and (max-width: 1500px) {
	.services__container {
		& .service__container {
			& .arrow__up {
				position: absolute;
				top: 3rem;
				left: 50%;
				z-index: 5;
				font-size: 5rem;
				color: $brand-text;
				opacity: 0.8;
				margin: 0;
			}
			& .arrow__down {
				margin: 0;
				font-size: 5rem;
			}
			& .service__heading {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				z-index: 1;
				& h3 {
					font-family: 'EB Garamond', sans-serif, serif;
					font-weight: 300;
					font-size: 3rem;
				}
				& svg {
					font-size: 7rem;
				}
			}
			& .service__list {
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 2;
				& p {
					word-break: break-word;
					font-size: 2rem;
				}
			}

			&:nth-child(2) {
				scroll-snap-align: start;
				position: relative;
				z-index: 0;

				& .img__overlay {
					position: absolute;
					background: rgba(177, 162, 150, 0.5);
				}
				& .service__heading {
					background: lighten($brand-brown, 5%);
					box-shadow: 0 2px 2px darken($brand-brown, 5%);
					width: 120%;
					clip-path: polygon(0% -50%, 80% 0%, 100% 100%, 0% 100%);
					& h3 {
						padding: 0.3rem;
						transition: all 0.5s ease-in-out;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(115, 149, 174, 0.7) 30%
						);
						background-size: 100% 200%;
						background-position: 0 0;

						&:hover {
							cursor: pointer;
							background-image: linear-gradient(
								180deg,
								transparent 30%,
								transparent 30%,
								rgba(115, 149, 174, 0.7) 30%
							);
							background-position: 100% 100%;
						}
					}
				}
				& .service__list {
					& p {
						align-self: flex-end;
						z-index: 2;
					}
				}
			}
			&:nth-child(3) {
				scroll-snap-align: start;
				position: relative;
				z-index: 0;

				& .img__overlay {
					position: absolute;
					background: rgba(66, 95, 117, 0.5);
				}
				& .service__list {
					order: 0;
				}
				& .service__heading {
					order: 1;
					background: $brand-blue;
					box-shadow: 0 2px 2px darken($brand-blue, 5%);
					width: 120%;
					clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 20% 0%);
					& h3 {
						padding: 0.3rem;
						transition: all 0.5s ease-in-out;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(177, 162, 150, 0.7) 30%
						);
						background-size: 100% 200%;
						background-position: 0 0;

						&:hover {
							cursor: pointer;
							background-image: linear-gradient(
								180deg,
								transparent 30%,
								transparent 30%,
								rgba(177, 162, 150, 0.7) 30%
							);
							background-position: 100% 100%;
						}
					}
				}
			}
			&:nth-child(4) {
				scroll-snap-align: start;
				position: relative;
				z-index: 0;

				& .img__overlay {
					position: absolute;
					background: rgba(115, 149, 174, 0.5);
				}
				& .service__heading {
					background: lighten($brand-accent, 5%);
					box-shadow: 0 2px 2px darken($brand-accent, 5%);
					width: 120%;
					clip-path: polygon(0% -50%, 80% 0%, 100% 100%, 0% 100%);
					& h3 {
						padding: 0.3rem;
						transition: all 0.5s ease-in-out;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(66, 95, 117, 0.7) 30%
						);
						background-size: 100% 200%;
						background-position: 0 0;

						&:hover {
							cursor: pointer;
							background-image: linear-gradient(
								180deg,
								transparent 30%,
								transparent 30%,
								rgba(66, 95, 117, 0.7) 30%
							);
							background-position: 100% 100%;
						}
					}
				}
				& .service__list {
					& p {
						align-self: flex-end;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1300px) {
	.services__container {
		& .service__container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			& .service__list {
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 2;
				& p {
					word-break: break-word;
					font-size: 2rem;
					align-self: center;
				}
			}
			& .service__heading {
				& h3 {
					font-size: 2.5rem;
				}
				& svg {
					font-size: 5rem;
				}
			}
			& .arrow__up {
				position: absolute;
				top: 4rem;
				left: 90%;
				z-index: 5;
				font-size: 4rem;
				color: $brand-text;
				opacity: 0.8;
				margin: 0;
			}
			& .arrow__down {
				left: 90%;
				margin: 0;
				font-size: 4rem;
			}

			&:nth-child(2) {
				scroll-snap-align: start;
				position: relative;
				z-index: 0;

				& .img__overlay {
					position: absolute;
					background: rgba(177, 162, 150, 0.5);
				}
				& .service__heading {
					background: lighten($brand-brown, 5%);
					box-shadow: 0 2px 2px darken($brand-brown, 5%);
					width: 120%;
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					& h3 {
						padding: 0.3rem;
						transition: all 0.5s ease-in-out;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(115, 149, 174, 0.7) 30%
						);
						background-size: 100% 200%;
						background-position: 0 0;

						&:hover {
							cursor: pointer;
							background-image: linear-gradient(
								180deg,
								transparent 30%,
								transparent 30%,
								rgba(115, 149, 174, 0.7) 30%
							);
							background-position: 100% 100%;
						}
					}
				}
				& .service__list {
					& p {
						align-self: center;
						z-index: 2;
					}
				}
			}
			&:nth-child(3) {
				scroll-snap-align: start;
				position: relative;
				z-index: 0;

				& .img__overlay {
					position: absolute;
					background: rgba(66, 95, 117, 0.5);
				}
				& .service__list {
					order: 1;
					& p {
						align-self: center;
					}
				}
				& .service__heading {
					order: 0;
					background: $brand-blue;
					box-shadow: 0 2px 2px darken($brand-blue, 5%);
					width: 140%;
					clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
					& h3 {
						padding: 0.3rem;
						transition: all 0.5s ease-in-out;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(177, 162, 150, 0.7) 30%
						);
						background-size: 100% 200%;
						background-position: 0 0;

						&:hover {
							cursor: pointer;
							background-image: linear-gradient(
								180deg,
								transparent 30%,
								transparent 30%,
								rgba(177, 162, 150, 0.7) 30%
							);
							background-position: 100% 100%;
						}
					}
				}
			}
			&:nth-child(4) {
				scroll-snap-align: start;
				position: relative;
				z-index: 0;

				& .img__overlay {
					position: absolute;
					background: rgba(115, 149, 174, 0.5);
				}
				& .service__heading {
					background: lighten($brand-accent, 5%);
					box-shadow: 0 2px 2px darken($brand-accent, 5%);
					width: 140%;
					clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					& h3 {
						padding: 0.3rem;
						transition: all 0.5s ease-in-out;
						background-image: linear-gradient(
							180deg,
							transparent 30%,
							transparent 30%,
							rgba(66, 95, 117, 0.7) 30%
						);
						background-size: 100% 200%;
						background-position: 0 0;

						&:hover {
							cursor: pointer;
							background-image: linear-gradient(
								180deg,
								transparent 30%,
								transparent 30%,
								rgba(66, 95, 117, 0.7) 30%
							);
							background-position: 100% 100%;
						}
					}
				}
				& .service__list {
					& p {
						align-self: center;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.services__container {
		& .close__button {
			position: fixed;
			top: 4rem;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			max-height: 3rem;
			min-width: 3rem;
			background: $brand-blue;
			z-index: 999999999;
			opacity: 1;
			visibility: visible;
			transition: all 0.4s ease-in-out;
			& svg {
				padding: 1rem;
				color: $brand-text;
				font-size: 2rem;
				transition: all 0.3s ease-in-out;
			}
		}
		& .service__container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			& .service__list {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				z-index: 2;
				align-self: start;
				& p {
					word-break: break-word;
					font-size: 1.5rem;
					align-self: center;
				}
			}
			& .service__heading {
				justify-content: flex-end;
				& h3 {
					font-size: 2.3rem;
				}
				& svg {
					font-size: 4.5rem;
				}
			}
			& .arrow__up {
				position: absolute;
				top: 4rem;
				left: 85%;
				z-index: 5;
				font-size: 4rem;
				color: $brand-text;
				opacity: 0.8;
				margin: 0;
			}
			& .arrow__down {
				left: 85%;
				margin: 0;
				font-size: 4rem;
			}
		}
	}
}
@keyframes scaleupanddown {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
