@import '../../../../sass/variables';
.services__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	scroll-snap-type: mandatory;
	scroll-snap-type: y mandatory;
	scroll-snap-align: start;
	overflow: hidden;
	overscroll-behavior: none;
	max-height: 100vh;
	scroll-behavior: smooth;
	box-shadow: 0 0px 5px darken($brand-blue, 15%);
	transition: all 0.3s ease-in-out;
	z-index: 4;
	&::-webkit-scrollbar {
		width: 0;
		visibility: hidden;
		height: 0;
	}
	& .close__button {
		position: fixed;
		top: 4rem;
		left: 0;
		min-width: 5vw;
		background: $brand-blue;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 999999999;
		opacity: 1;
		visibility: visible;
		transition: all 0.4s ease-in-out;
		border: 1px solid $brand-blue;
		& svg {
			padding: 1rem;
			color: $brand-text;
			font-size: 3vw;
			transition: all 0.3s ease-in-out;
		}
		&:hover {
			cursor: pointer;
		}
		&:hover svg {
			color: $brand-brown;
		}
		&::after {
			content: '';
			transition: all 0.4s ease-in-out;
			opacity: 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
		&:hover::after {
			content: 'Back out of slide show?';
			color: $brand-text;
			font-family: 'Cormorant Garamond', Arial, Helvetica, sans-serif;
			opacity: 1;
			padding: 0 1rem;
			font-size: 1.2rem;
			min-width: 5vw;
		}
	}
	& .close__button__hidden {
		position: fixed;
		top: 0;
		left: 0;
		max-height: 0rem;
		width: 0rem;
		background: $brand-blue;
		z-index: -999999999;
		visibility: hidden;
		opacity: 0;
		transition: all 0.4s ease-in-out;
		& svg {
			color: $brand-text;
			font-size: 0rem;
		}
	}
}
@media only screen and (max-width: 700px) {
	.services__container {
		& .close__button {
			position: fixed;
			top: 4rem;
			left: 0;
			max-height: 20vh;
			min-width: 5vw;
			background: $brand-blue;
			z-index: 999999999;
			opacity: 1;
			visibility: visible;
			transition: all 0.4s ease-in-out;
			& svg {
				padding: 0.5rem;
				color: $brand-text;
				font-size: 10vw;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}
