@import '../../../../sass/variables';
@import '../../../../sass/mixins';
.header {
	padding: 4rem 0;
	background: $brand-blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	position: relative;
	z-index: 0;
	& .title__container {
		@include title-container;
		& h1 {
			font-family: 'Tangerine', Verdana, Geneva, Tahoma, sans-serif;
			color: $brand-brown;
			font-size: 5vw;
			margin: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			min-width: 20vw;
			&::before {
				content: '';
				width: 7rem;
				height: 0.2rem;
				display: block;
				background: $brand-accent;
			}
			&::after {
				content: '';
				width: 7rem;
				height: 0.2rem;
				display: block;
				background: $brand-accent;
			}
		}
		& p {
			@include paragraph-secondary;
		}
	}
}
@media screen and (max-width: 1300px) {
	.header {
		& .title__container {
			z-index: 0;
			& h1 {
				font-size: 4rem;

				&::before {
					content: '';
					width: 7rem;
					height: 0.2rem;
					display: block;
					background: $brand-accent;
				}
				&::after {
					content: '';
					width: 7rem;
					height: 0.2rem;
					display: block;
					background: $brand-accent;
				}
			}
			& p {
				@include paragraph-secondary-med;
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.header {
		& .title__container {
			@include title-container-small;
			& h1 {
				@include header-small;
			}
			& p {
				@include paragraph-secondary-small;
			}
		}
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}
