@import '../../../sass/variables';

.header {
	max-height: 100vh;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #557a95;
	position: relative;

	& .header__grid {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-items: center;
		align-content: center;
		gap: 2rem;
	}
	.text__box__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		& h1 {
			font-family: 'Cormorant Garamond', sans-serif;
			color: $brand-text;
			opacity: 0;
			animation: fadeinheading 1s linear forwards;
			font-size: 5rem;
			margin: 1rem 0;
			&::after {
				content: '';
				display: block;
				width: 12rem;
				height: 0.2rem;
				background: $brand-accent;
			}
		}
		& h2 {
			color: darken($brand-text, 5%);
			opacity: 0;
			animation: fadeinheading 2s linear forwards;
			font-size: 2.5rem;
			font-weight: 300;
			font-family: 'EB Garamond', sans-serif;
			margin: 1rem 0;
		}

		& h3 {
			color: darken($brand-text, 15%);
			opacity: 0;
			animation: fadeinheading 2s linear forwards;
			font-size: 2.5rem;
			font-weight: 300;
			font-family: 'Tangerine', sans-serif;
			margin: 1rem 0;
		}
	}
	& .divider {
		opacity: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 5vw;
		color: $brand-brown;
		animation: fadeinheading 1.5s linear forwards;
		& svg {
			font-size: 3rem;
			margin: 0.5rem;
		}
		& span {
			height: 12vh;
			width: 0.2rem;
			background: $brand-accent;
		}
	}
	& .text__box__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		& .button__container {
			display: flex;
			flex-direction: column;
			& button:nth-child(1) {
				width: 15rem;
				padding: 1rem;
				background: transparent;
				margin: 1rem;
				color: $brand-brown;
				border: 3px solid $brand-brown;
				font-weight: 300;
				transition: all 0.3s ease-in-out;
				font-family: 'EB Garamond', sans-serif, serif;
				font-size: 1.2rem;
				&:hover {
					cursor: pointer;
					background: $brand-brown;
					color: $brand-text;
					box-shadow: 0 4px 4px darken($brand-brown, 10%);
				}
			}
			& button:nth-child(2) {
				width: 15rem;
				padding: 1rem;
				background: $brand-accent;
				margin: 1rem;
				color: $brand-text;
				border: 3px solid $brand-accent;
				font-weight: 300;
				transition: all 0.3s ease-in-out;
				font-family: 'EB Garamond', sans-serif, serif;
				font-size: 1.2rem;
				&:hover {
					cursor: pointer;
					background: darken($brand-accent, 5%);
					border: 3px solid darken($brand-accent, 5%);
					box-shadow: 0 4px 4px darken($brand-accent, 10%);
				}
			}
		}
	}
}
.services__grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0%;
	left: 0;
	width: 100%;
	max-height: 10rem;
	& .item {
		color: $brand-text;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 6rem;
		opacity: 0.8;
		max-height: 25rem;

		& h3 {
			font-family: 'EB Garamond', serif, sans-serif;
			font-size: 1.3rem;
			letter-spacing: 0.9px;
			margin:0 1rem;
		}
		& svg {
			font-size: 2.5rem;
		}
		&:hover {
			flex-direction: column;
			height: 25rem;
			cursor: pointer;
			background: lighter($brand-brown, 5%);
		}
		&:hover svg {
			font-size: 4rem;
		}
		&:hover li svg {
			font-size: 2rem;
		}

		& ul {
			font-size: 0rem;
			opacity: 0;
			animation: fadein 0.5s linear forwards;
			& li {
				list-style: none;
				display: flex;
				flex-direction: row;
				align-items: center;
				& p {
					margin: 0 0.5rem;
					opacity: 0;
				}
			}
		}
		&:hover ul {
			font-size: 1rem;
			opacity: 1;
		}
		&:hover ul li p {
			opacity: 1;
			font-size: 1.6rem;
		}
		&:hover h3 {
			font-size: 2rem;
		}

		&:nth-child(1) {
			background: $brand-brown;
			transition: all 0.4s ease-in-out;
			align-self: flex-end;
			opacity: 0;
			animation: fadeinheading 1s linear forwards;
		}
		&:nth-child(2) {
			background: $brand-blue;
			transition: all 0.4s ease-in-out;
			align-self: flex-end;
			opacity: 0;
			animation: fadeinheading 1s linear 0.5s forwards;
		}
		&:nth-child(3) {
			background: $brand-accent;
			transition: all 0.4s ease-in-out;
			align-self: flex-end;
			opacity: 0;
			animation: fadeinheading 1s linear 1s forwards;
		}
	}
}
@media screen and (max-width:1400px){
	.header{
		& .text__box__left{
			& h1{
				font-size: 4rem;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.header {
		max-height: 100vh;
		height: 100vh;
		justify-content: flex-start;
		& .header__grid {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, auto);
			justify-items: center;
			align-content: flex-start;
			gap: 0.5rem;
			margin-top: 4rem;
		}
		& .text__box__left {
			& h1 {
				font-size: 2.3rem;
				&::after {
					display: none;
				}
			}
			& h2 {
				font-size: 1.6rem;
			}
			& h3 {
				font-size: 1.7rem;
			}
		}
		& .divider {
			opacity: 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 90vw;
			color: $brand-brown;
			animation: fadeinheading 1.5s linear forwards;
			& svg {
				font-size: 3rem;
				margin: 0 0.5rem;
			}
			& span {
				height: 0.2rem;
				width: 45vw;
				background: $brand-accent;
			}
		}
		& .text__box__right {
			& .button__container {
				flex-direction: row;
				flex-wrap: wrap;
				& button:nth-child(1) {
					padding: 0.5rem;
					width: 10rem;
					font-size: 1rem;
				}
				& button:nth-child(2) {
					padding: 0.5rem;
					width: 10rem;
					font-size: 1rem;
				}
			}
		}
	}
	.services__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-height: 100rem;
		& .item {
			color: $brand-text;
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			opacity: 0.8;
			transition: all 0.3s ease-in-out;
			align-self: flex-end;
			height: 4rem;
			max-height: 20rem;
			&:hover {
				flex-direction: column;
			}
			& h3 {
				font-family: 'Eb Garamond', serif, sans-serif;
				font-size: 1rem;
				letter-spacing: 0.9px;
			}
			& svg {
				font-size: 1.6rem;
				margin: 0 0.5rem;
			}
			&:hover svg {
				font-size: 2.5rem;
			}
			&:hover ul li svg {
				font-size: 1.5rem;
			}
			&:hover h3 {
				font-size: 1.3rem;
			}
			&:hover ul li p {
				font-size: 1.2rem;
			}
			& ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 0;
			}
			&:hover h3,
			&:hover svg,
			&:hover ul {
				margin: 0 0 0.5rem 0;
			}
			& ul li p {
				font-size: 0.9rem;
			}
		}
	}
	.text__box {
		& h1 {
			text-align: center;
			font-size: 2rem;
			margin: 1rem;
		}
		& h2 {
			font-size: 2rem;
		}
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
		font-size: 0;
	}
	100% {
		opacity: 1;
		font-size: 100%;
	}
}

@keyframes fadeinheading {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}
