@import '../../../sass/variables';

.footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	justify-items: center;
	align-content: center;
	width: 100vw;
	padding: 1rem;
	& p {
		color: $brand-text;
	}
	& a {
		text-decoration: none;
		color: $brand-text;
	}
	& span {
		font-family: 'Raleway', sans-serif;
		color: $brand-text;
		display: flex;
		align-items: center;
		& svg {
			font-size: 1.2rem;
			margin-right: 0.5rem;
		}
	}
}
.column {
	display: flex;
	flex-direction: column;

	& h3 {
		color: $brand-accent;
		border-bottom: 1px solid lighten($brand-blue, 5%);
		padding: 0.2rem 0;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 700px) {
	.footer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		justify-items: center;
		align-content: center;
		width: 100vw;
		background: darken($brand-blue, 5%);
		padding: 0rem;
		font-size: 75%;
		& p {
			color: $brand-text;
			font-size: 4vw;
			text-align: center;
		}
		& a {
			font-size: 4vw;
			text-decoration: none;
			color: lighten($brand-blue, 25%);
		}
		& span {
			font-family: 'Raleway', sans-serif;
			color: $brand-text;
			font-size: 4vw;
		}
	}
	.column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& h3 {
			color: $brand-text;
			border-bottom: 1px solid lighten($brand-blue, 5%);
			padding: 0.2rem 0;
			font-size: 8vw;
		}
	}
}
