@import '../../../sass/variables';

.nav {
	background: $brand-dark-blue;
	z-index: 99999999;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 5rem;
	box-shadow: 0 1px 5px darken($brand-dark-blue, 10%);
	& a {
		font-size: 1.1rem;
		color: $brand-text;
		text-decoration: none;
		font-family: 'Raleway', sans-serif;
	}
	& .mobile__logo {
		display: none;
		& a {
			color: $brand-brown;
			font-family: 'Tangerine';
		}
	}
	& .sideMenu {
		visibility: hidden;
	}
}
.nav__left {
	margin-left: 3rem;
	& a {
		color: $brand-brown;
		font-family: 'Tangerine';
		font-size: 2rem;
		font-weight: 900;
	}
}

.nav__right {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	margin-right: 1rem;
	height: 100%;
	gap: 1rem;
	& a {
		color: $brand-text;
		height: 100%;
		font-size: 1.2rem;
		transition: all 0.4s ease-in-out;
		position: relative;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&::after {
			content: '';
			width: 0px;
			height: 3px;
			display: block;
			visibility: hidden;
			transition: all 0.4s ease-in-out;
			position: absolute;
			top: 100%;
			align-self: center;
		}
		&:hover {
			cursor: pointer;
		}
		&:hover::after {
			visibility: visible;
			width: 100%;
			display: block;
			background: $brand-accent;
		}
	}
	& .active {
		color: $brand-brown;
		&::after {
			content: '';
			width: 100%;
			height: 3px;
			display: block;
			visibility: visible;
			transition: all 0.4s ease-in-out;
			position: absolute;
			top: 100%;
			align-self: center;
			background: $brand-brown;
		}
	}
}

@media screen and (max-width: 1000px) {
	.nav {
		z-index: 9999;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 5rem;
		& .mobile__logo {
			display: flex;
			margin-left: 1rem;
			& a {
				font-size: 1.6rem;
				font-weight: 900;
			}
		}
		& .toggle__box {
			justify-self: end;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 100%;
			margin-right: 1rem;
			& svg {
				font-size: 1.5rem;
				color: $brand-text;
			}
		}
		& .sideMenu {
			position: fixed;
			height: 100vh;
			top: 0;
			display: flex;
			flex-direction: row;
			width: 100vw;
			z-index: 9999;
			transform: translateX(0vw);
			transition: all 0.4s ease-in-out;
			visibility: visible;
			& .sideMenu__container {
				width: 50%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background: $brand-blue;
				box-shadow: 0 4px 4px darken($brand-blue, 20%);
				& .close__box {
					display: flex;
					width: 100%;
					justify-content: flex-end;
					& svg {
						align-self: flex-end;
						color: $brand-text;
						font-size: 1.5rem;
					}
				}
				& .services__list {
					width: 100%;
					& ul {
						width: 100%;
						display: flex;
						flex-direction: column;
						padding: 0;
						& li {
							width: 100%;
							list-style: none;
							padding: 1rem 0;
							text-align: center;
							border-top: 1px solid lighten($brand-blue, 5%);
							transition: all 0.3s ease-in-out;
							&:hover {
								cursor: pointer;
								background: darken($brand-blue, 5%);
							}
						}
						& li:last-child {
							border-bottom: 1px solid lighten($brand-blue, 5%);
						}
					}
				}
			}
			& .sideMenu__overlay {
				width: 50%;
				height: 100vh;
			}
		}
		& .sideMenu__hide {
			transition: all 0.4s ease-in-out;
			transform: translateX(-100vw);
			visibility: hidden;
			background: rgba(0, 0, 0, 0);
		}
	}
	.nav__left {
		margin-left: 1rem;
		& a {
			width: 100%;
		}
	}
	.nav__right {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}
