@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Cormorant+Garamond|Muli|Tangerine&display=swap");
@keyframes fadein {
  0% {
    opacity: 0; }
  90% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@keyframes slideinfromright {
  0% {
    opacity: 0; }
  90% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes slideinfromleft {
  0% {
    opacity: 0; }
  90% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #557a95; }

body {
  z-index: 0; }

main {
  background: #557a95; }

footer {
  min-height: 15vh;
  background: #4c6d85; }

a,
h2,
h3,
p {
  font-family: 'EB Garamond', sans-serif; }

h1 {
  font-size: 4rem; }
