@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.container {
	width: 90vw;
	margin: 0vh auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& .form {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 2vh 2vw;
		margin-bottom: 5vh;
		min-width: 50vw;
		& .input__row {
			display: flex;
			flex-direction: column;
			margin: 1rem 0;
			& label {
				font-size: 1.5rem;
				color: $brand-brown;
				font-weight: 300;
				font-family: 'EB Garamond';
				&:after {
					content: '*';
					color: rgba(167, 47, 47, 0.808);
				}
			}
			& input {
				padding: 0.5rem 0rem;
				background: transparent;
				border: 0;
				border-bottom: 2px solid $brand-dark-blue;
				color: $brand-text;
				font-size: 16px;
				transition: all 0.3s ease-in-out;
				font-family: 'EB Garamond';
				&:hover {
					border-bottom: 2px solid lighten($brand-blue, 5%);
				}
				&::placeholder {
					color: $brand-text;
					font-family: 'EB Garamond';
				}
				&:active,
				&:focus {
					outline: 0px solid transparent;
				}
			}
			& input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus,
			textarea:-webkit-autofill,
			textarea:-webkit-autofill:hover,
			textarea:-webkit-autofill:focus {
				border: 2px solid $brand-blue;
				-webkit-text-fill-color: $brand-brown;
				-webkit-box-shadow: 0 0 0px 0px transparent;
				transition: background-color 5000s ease-in-out 0s;
			}
			& textarea {
				height: 10rem;
				padding: 1rem 0;
				background: transparent;
				border: 2px solid $brand-dark-blue;
				color: $brand-text;
				font-size: 16px;
				transition: all 0.3s ease-in-out;
				resize: none;
				font-family: 'EB Garamond';
				&:hover {
					border: 2px solid lighten($brand-blue, 5%);
				}
				&:active,
				&:focus {
					outline: 0px solid transparent;
				}
				&::placeholder {
					color: $brand-text;
					font-family: 'EB Garamond';
				}
			}
			& button {
				background: $brand-brown;
				height: 3.5rem;
				color: $brand-text;
				font-size: 1.6rem;
				font-family: 'EB Garamond';
				border: 1px solid $brand-blue;
				transition: all 0.3s ease-in-out;
				&:hover {
					cursor: pointer;
					background: darken($brand-brown, 5%);
					box-shadow: 0 1px 10px darken($brand-brown, 15%);
					border: 1px solid darken($brand-brown, 5%);
				}
				&:active,
				&:focus {
					outline: 0px solid transparent;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.container {
		width: 100vw;
		& .form {
			padding: 5vh 0;
			width: 100%;
			& .input__row {
				margin: 1vh 5vw;
				& label {
					font-size: 1.3rem;
				}
				& input {
					font-size: 16px;
				}
				& textarea {
					font-size: 16px;
				}
				& button {
					font-size: 1.3rem;
				}
			}
		}
	}
}
